# Lesson 4 Practice: Pandas Part 2

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L04-Pandas_Part2-Lesson.ipynb](./L04-Pandas_Part2-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

- import pandas
- re-create the `df` data frame
- re-create the `iris_df` data frame

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta': ['a', 'b', 'c', 'd', 'e']})

iris_df = pd.read_csv("iris.csv")

## Task 2a: Inserting Columns

+ Create a copy of the `df` dataframe.
+ Add a new column named "delta" to the copy that consists of random numbers.

In [2]:
df_2 = df
df_2["delta"] = np.random.randint(10, size = 5)
df_2

   alpha beta  delta
0      0    a      8
1      1    b      2
2      2    c      5
3      3    d      6
4      4    e      9

## Task 3a: Missing Data

+ Create two new copies of the `df` dataframe:
+ Add a new column to both that has missing values.
+ In one copy, replace missing values with a value of your choice.
+ In the other copy, drop rows with `NaN` values.
+ Print both arrays to confirm.

In [3]:
df_missing = df
df_missing["new_col"] = pd.Series(["a", "b", "c"])
df_missing_2 = df_missing
print(df_missing)

df_missing = df_missing.fillna("blah")
print(df_missing)

df_drop = df_missing_2.dropna()
print(df_drop)

   alpha beta  delta new_col
0      0    a      8       a
1      1    b      2       b
2      2    c      5       c
3      3    d      6     NaN
4      4    e      9     NaN
   alpha beta  delta new_col
0      0    a      8       a
1      1    b      2       b
2      2    c      5       c
3      3    d      6    blah
4      4    e      9    blah
   alpha beta  delta new_col
0      0    a      8       a
1      1    b      2       b
2      2    c      5       c

## Task 4a: Operations
<span style="float:right; margin-left:10px; clear:both;">![Task](./media/task-icon.png)</span>

View the [Computational tools](https://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html) and [statistical methods](https://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html#method-summary) documentation.
Using the list of operational functions choose five functions to use with the iris data frame.

In [4]:
print(iris_df.sum().head())
print(iris_df.min().head())
print(iris_df.max().head())
print(iris_df["sepal_length"].pct_change().head())
print(iris_df.rank().head())

sepal_length                                                876.5
sepal_width                                                 458.1
petal_length                                                563.8
petal_width                                                 179.8
species         setosasetosasetosasetosasetosasetosasetosaseto...
dtype: object
sepal_length       4.3
sepal_width          2
petal_length         1
petal_width        0.1
species         setosa
dtype: object
sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object
0         NaN
1   -0.039216
2   -0.040816
3   -0.021277
4    0.086957
Name: sepal_length, dtype: float64
   sepal_length  sepal_width  petal_length  petal_width  species
0          37.0        129.5          17.5         20.5     25.5
1          19.5         70.5          17.5         20.5     25.5
2          10.5        102.0           8.0         20.5     25.5
3           7.5         89.5          30.5         20.5     25.5
4          27.5        134.0          17.5         20.5     25.5

## Task 4b:  Apply

Practice using `apply` on either the `df` or `iris_df` data frames using any two functions of your choice other than `print`, `type`, and `np.sum`.

In [5]:
print(iris_df.apply(np.min))
print(iris_df.apply(np.max))

sepal_length       4.3
sepal_width          2
petal_length         1
petal_width        0.1
species         setosa
dtype: object
sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

## Task 4c.  Occurances
Ientify the number of occurances for each species (virginica, versicolor, setosa) in the `iris_df` object.  *Hint*: the `value_counts` function only works on a `pd.Series` object, not on the full data frame..

In [6]:
iris_df["species"].value_counts()

setosa        50
virginica     50
versicolor    50
Name: species, dtype: int64

## Task 5a: String Methods

+ Create a list of five strings that represent dates in the form YYYY-MM-DD (e.g. 2020-02-20 for Feb 20th, 2020).
+ Add this list of dates as a new column in the `df` dataframe.
+ Now split the date into 3 new columns with one column representing the year, another the month and another they day.
+ Combine the values from columns `alpha` and `beta` into a new column where the values are spearated with a colon.

In [7]:
dates = ["2020-03-01", "2020-01-18", "2020-05-01", "2020-06-18", "2020-04-12"]

df["dates"] = dates
df.head()

df["year"], df["month"], df["day"] = df["dates"].str.split("-").str
print(df.head())

   alpha beta  delta new_col       dates  year month day
0      0    a      8       a  2020-03-01  2020    03  01
1      1    b      2       b  2020-01-18  2020    01  18
2      2    c      5       c  2020-05-01  2020    05  01
3      3    d      6     NaN  2020-06-18  2020    06  18
4      4    e      9     NaN  2020-04-12  2020    04  12

## Task 6a: Concatenation by Rows
+ Create the following dataframe
```Python
df1 = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta': ['a', 'b', 'c', 'd', 'e']}, index = ['I1', 'I2' ,'I3', 'I4', 'I5'])
```
+ Create a new dataframe named `df2` with column names "delta" and "gamma" that contins 5 rows with some index names that overlap with the `df1` dataframe and some that do not.
+ Concatenate the two dataframes by rows and print the result.
+ You should see the two have combined one after the other, but there should also be missing values added. 
+ Explain why there are missing values.

In [8]:
df1 = pd.DataFrame(
  {'alpha': [0, 1, 2, 3, 4],
   'beta': ['a', 'b', 'c', 'd', 'e']}, index = ['I1', 'I2' ,'I3', 'I4', 'I5'])

df2 = pd.DataFrame(
    {'delta': [5, 6, 7, 8, 9],
     'gamma': ['f', 'g', 'h', 'i', 'j']},
    index = ['I1', 'I2' ,'I3', 'I6', 'I7'])

print(df1)
print(df2)

dfs = [df1, df2]

print(pd.concat(dfs))

# There are missing values added because the
# dataframes don't have matching data by row
# index. NaNs exist where each dataframe does
# not match up with the other.

    alpha beta
I1      0    a
I2      1    b
I3      2    c
I4      3    d
I5      4    e
    delta gamma
I1      5     f
I2      6     g
I3      7     h
I6      8     i
I7      9     j
    alpha beta  delta gamma
I1    0.0    a    NaN   NaN
I2    1.0    b    NaN   NaN
I3    2.0    c    NaN   NaN
I4    3.0    d    NaN   NaN
I5    4.0    e    NaN   NaN
I1    NaN  NaN    5.0     f
I2    NaN  NaN    6.0     g
I3    NaN  NaN    7.0     h
I6    NaN  NaN    8.0     i
I7    NaN  NaN    9.0     j

C:\Users\matthew.brousil\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  from ipykernel import kernelapp as app

## Task 6b: Concatenation by Columns

Using the same dataframes, df1 and df2, from Task 6a practice:
+ Concatenate the two by columns
+ Add a "delta" column to `df1` and concatenate by columns such that there are 5 columns in the merged dataframe.
+ Respond in writing to this question (add a new 'raw' cell to contain your answer). What will happen if using you had performed an inner join while concatenating?  
+ Try the concatenation with the inner join to see if you are correct.

In [9]:
print(pd.concat(dfs, axis = 1))

df1["delta2"] = [16, 17, 18, 19, 20]
dfs = [df1, df2]

print(pd.concat(dfs, axis = 1))

    alpha beta  delta gamma
I1    0.0    a    5.0     f
I2    1.0    b    6.0     g
I3    2.0    c    7.0     h
I4    3.0    d    NaN   NaN
I5    4.0    e    NaN   NaN
I6    NaN  NaN    8.0     i
I7    NaN  NaN    9.0     j
    alpha beta  delta2  delta gamma
I1    0.0    a    16.0    5.0     f
I2    1.0    b    17.0    6.0     g
I3    2.0    c    18.0    7.0     h
I4    3.0    d    19.0    NaN   NaN
I5    4.0    e    20.0    NaN   NaN
I6    NaN  NaN     NaN    8.0     i
I7    NaN  NaN     NaN    9.0     j

C:\Users\matthew.brousil\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.
C:\Users\matthew.brousil\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

I think using an inner join would have removed rows that didn't have all of the data.

In [10]:
print(pd.concat(dfs, axis = 1, join = "inner"))

    alpha beta  delta2  delta gamma
I1      0    a      16      5     f
I2      1    b      17      6     g
I3      2    c      18      7     h

#### Task 6c: Concat and append data frames
<span style="float:right; margin-left:10px; clear:both;">![Task](./media/task-icon.png)</span>

+ Create a new 5x5 dataframe full of random numbers.
+ Create a new 5x10 dataframe full of 1's.
+ Append one to the other and print it.
+ Append a single Series of zeros to the end of the appended dataframe.

In [11]:
one_df = pd.DataFrame(np.random.random((5, 5)))
another_df = pd.DataFrame(np.ones((5, 10)))

comb_df = another_df.append(one_df, ignore_index = True)
comb_df.shape

comb_df.append(pd.Series(np.zeros(10)), ignore_index = True)

           0         1         2         3         4    5    6    7    8    9
0   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
1   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
2   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
3   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
4   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
5   0.477055  0.773703  0.200661  0.302953  0.496613  NaN  NaN  NaN  NaN  NaN
6   0.372264  0.751490  0.918442  0.420663  0.276033  NaN  NaN  NaN  NaN  NaN
7   0.950083  0.799160  0.217427  0.252490  0.050528  NaN  NaN  NaN  NaN  NaN
8   0.078828  0.854138  0.335178  0.232529  0.194296  NaN  NaN  NaN  NaN  NaN
9   0.125718  0.501485  0.169168  0.239151  0.008246  NaN  NaN  NaN  NaN  NaN
10  0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0

## Task 6d: Grouping

Demonstrate a `groupby`.

+ Create a new column with the label "region" in the iris data frame. This column will indicates geographic regions of the US where measurments were taken. Values should include:  'Southeast', 'Northeast', 'Midwest', 'Southwest', 'Northwest'. Use these randomly.
+ Use `groupby` to get a new data frame of means for each species in each region.
+ Add a `dev_stage` column by randomly selecting from the values "early" and "late".
+ Use `groupby` to get a new data frame of means for each species,in each region and each development stage.
+ Use the `count` function (just like you used the `mean` function) to identify how many rows in the table belong to each combination of species + region + developmental stage.

In [12]:
iris_df["region"] = np.random.choice(['Southeast', 'Northeast', 'Midwest', 'Southwest', 'Northwest'], iris_df.shape[0])
iris_df.head()

print(iris_df.groupby(["species", "region"]).mean()) 

iris_df["dev_stage"] = np.random.choice(["early", "late"], iris_df.shape[0])
iris_df.head()
print(iris_df.groupby(["species", "region", "dev_stage"]).mean()) 
print(iris_df.groupby(["species", "region", "dev_stage"]).count())

                      sepal_length  sepal_width  petal_length  petal_width
species    region
setosa     Midwest        4.981818     3.472727      1.509091     0.218182
           Northeast      5.166667     3.466667      1.500000     0.333333
           Northwest      4.925000     3.300000      1.575000     0.225000
           Southeast      4.854545     3.263636      1.363636     0.218182
           Southwest      5.077778     3.488889      1.461111     0.250000
versicolor Midwest        5.960000     2.826667      4.306667     1.386667
           Northeast      5.745455     2.627273      4.163636     1.300000
           Northwest      6.130769     2.892308      4.446154     1.353846
           Southeast      5.600000     2.614286      3.871429     1.142857
           Southwest      6.325000     2.825000      4.425000     1.400000
virginica  Midwest        6.944444     2.988889      6.033333     2.077778
           Northeast      6.675000     3.150000      5.641667     1.991667
           Northwest      6.487500     2.912500      5.225000     1.937500
           Southeast      6.509091     2.809091      5.500000     1.972727
           Southwest      6.330000     2.980000      5.330000     2.150000
                                sepal_length  sepal_width  petal_length  \
species    region    dev_stage
setosa     Midwest   early          4.933333     3.466667      1.566667
                     late           5.040000     3.480000      1.440000
           Northeast early          5.133333     3.433333      1.500000
                     late           5.200000     3.500000      1.500000
           Northwest early          5.100000     3.500000      1.650000
                     late           4.750000     3.100000      1.500000
           Southeast early          4.857143     3.171429      1.428571
                     late           4.850000     3.425000      1.250000
           Southwest early          4.987500     3.537500      1.462500
                     late           5.150000     3.450000      1.460000
versicolor Midwest   early          5.942857     2.857143      4.514286
                     late           5.975000     2.800000      4.125000
           Northeast early          5.520000     2.460000      3.900000
                     late           5.933333     2.766667      4.383333
           Northwest early          6.057143     2.885714      4.414286
                     late           6.216667     2.900000      4.483333
           Southeast early          5.425000     2.500000      3.850000
                     late           5.833333     2.766667      3.900000
           Southwest early          6.150000     2.550000      4.400000
                     late           6.500000     3.100000      4.450000
virginica  Midwest   early          6.928571     3.000000      5.914286
                     late           7.000000     2.950000      6.450000
           Northeast early          6.400000     3.000000      5.442857
                     late           7.060000     3.360000      5.920000
           Northwest early          6.500000     2.950000      5.300000
                     late           6.475000     2.875000      5.150000
           Southeast early          6.414286     2.785714      5.485714
                     late           6.675000     2.850000      5.525000
           Southwest early          6.116667     2.850000      5.283333
                     late           6.650000     3.175000      5.400000

                                petal_width
species    region    dev_stage
setosa     Midwest   early         0.166667
                     late          0.280000
           Northeast early         0.333333
                     late          0.333333
           Northwest early         0.300000
                     late          0.150000
           Southeast early         0.228571
                     late          0.200000
           Southwest early         0.287500
                     late          0.220000
versicolor Midwest   early         1.428571
                     late          1.350000
           Northeast early         1.240000
                     late          1.350000
           Northwest early         1.314286
                     late          1.400000
           Southeast early         1.100000
                     late          1.200000
           Southwest early         1.350000
                     late          1.450000
virginica  Midwest   early         1.985714
                     late          2.400000
           Northeast early         1.928571
                     late          2.080000
           Northwest early         1.850000
                     late          2.025000
           Southeast early         2.000000
                     late          1.925000
           Southwest early         2.083333
                     late          2.250000
                                sepal_length  sepal_width  petal_length  \
species    region    dev_stage
setosa     Midwest   early                 6            6             6
                     late                  5            5             5
           Northeast early                 3            3             3
                     late                  3            3             3
           Northwest early                 2            2             2
                     late                  2            2             2
           Southeast early                 7            7             7
                     late                  4            4             4
           Southwest early                 8            8             8
                     late                 10           10            10
versicolor Midwest   early                 7            7             7
                     late                  8            8             8
           Northeast early                 5            5             5
                     late                  6            6             6
           Northwest early                 7            7             7
                     late                  6            6             6
           Southeast early                 4            4             4
                     late                  3            3             3
           Southwest early                 2            2             2
                     late                  2            2             2
virginica  Midwest   early                 7            7             7
                     late                  2            2             2
           Northeast early                 7            7             7
                     late                  5            5             5
           Northwest early                 4            4             4
                     late                  4            4             4
           Southeast early                 7            7             7
                     late                  4            4             4
           Southwest early                 6            6             6
                     late                  4            4             4

                                petal_width
species    region    dev_stage
setosa     Midwest   early                6
                     late                 5
           Northeast early                3
                     late                 3
           Northwest early                2
                     late                 2
           Southeast early                7
                     late                 4
           Southwest early                8
                     late                10
versicolor Midwest   early                7
                     late                 8
           Northeast early                5
                     late                 6
           Northwest early                7
                     late                 6
           Southeast early                4
                     late                 3
           Southwest early                2
                     late                 2
virginica  Midwest   early                7
                     late                 2
           Northeast early                7
                     late                 5
           Northwest early                4
                     late                 4
           Southeast early                7
                     late                 4
           Southwest early                6
                     late                 4