# Lesson 4 Practice: Pandas Part 2

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L04-Pandas_Part2-Lesson.ipynb](./L04-Pandas_Part2-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

- import pandas
- re-create the `df` data frame
- re-create the `iris_df` data frame

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta': ['a', 'b', 'c', 'd', 'e']})

iris_df = pd.read_csv("iris.csv")

## Task 2a: Inserting Columns

+ Create a copy of the `df` dataframe.
+ Add a new column named "delta" to the copy that consists of random numbers.

In [2]:
df_2 = df
df_2["delta"] = np.random.randint(10, size = 5)
df_2

   alpha beta  delta
0      0    a      9
1      1    b      8
2      2    c      2
3      3    d      4
4      4    e      0

## Task 3a: Missing Data

+ Create two new copies of the `df` dataframe:
+ Add a new column to both that has missing values.
+ In one copy, replace missing values with a value of your choice.
+ In the other copy, drop rows with `NaN` values.
+ Print both arrays to confirm.

In [3]:
df_missing = df
df_missing["new_col"] = pd.Series(["a", "b", "c"])
df_missing_2 = df_missing
print(df_missing)

df_missing = df_missing.fillna("blah")
print(df_missing)

df_drop = df_missing_2.dropna()
print(df_drop)

   alpha beta  delta new_col
0      0    a      9       a
1      1    b      8       b
2      2    c      2       c
3      3    d      4     NaN
4      4    e      0     NaN
   alpha beta  delta new_col
0      0    a      9       a
1      1    b      8       b
2      2    c      2       c
3      3    d      4    blah
4      4    e      0    blah
   alpha beta  delta new_col
0      0    a      9       a
1      1    b      8       b
2      2    c      2       c

## Task 4a: Operations
<span style="float:right; margin-left:10px; clear:both;">![Task](./media/task-icon.png)</span>

View the [Computational tools](https://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html) and [statistical methods](https://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html#method-summary) documentation.
Using the list of operational functions choose five functions to use with the iris data frame.

In [4]:
iris_df.sum().head()
iris_df.min().head()
iris_df.max().head()
iris_df["sepal_length"].pct_change().head()
iris_df.rank().head()

   sepal_length  sepal_width  petal_length  petal_width  species
0          37.0        129.5          17.5         20.5     25.5
1          19.5         70.5          17.5         20.5     25.5
2          10.5        102.0           8.0         20.5     25.5
3           7.5         89.5          30.5         20.5     25.5
4          27.5        134.0          17.5         20.5     25.5

## Task 4b:  Apply

Practice using `apply` on either the `df` or `iris_df` data frames using any two functions of your choice other than `print`, `type`, and `np.sum`.

In [5]:
print(iris_df.apply(np.min))
print(iris_df.apply(np.max))

sepal_length       4.3
sepal_width          2
petal_length         1
petal_width        0.1
species         setosa
dtype: object
sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

## Task 4c.  Occurances
Ientify the number of occurances for each species (virginica, versicolor, setosa) in the `iris_df` object.  *Hint*: the `value_counts` function only works on a `pd.Series` object, not on the full data frame..

In [6]:
iris_df["species"].value_counts()

versicolor    50
virginica     50
setosa        50
Name: species, dtype: int64

## Task 5a: String Methods

+ Create a list of five strings that represent dates in the form YYYY-MM-DD (e.g. 2020-02-20 for Feb 20th, 2020).
+ Add this list of dates as a new column in the `df` dataframe.
+ Now split the date into 3 new columns with one column representing the year, another the month and another they day.
+ Combine the values from columns `alpha` and `beta` into a new column where the values are spearated with a colon.

In [7]:
dates = ["2020-03-01", "2020-01-18", "2020-05-01", "2020-06-18", "2020-04-12"]

df["dates"] = dates
df.head()

df["year"], df["month"], df["day"] = df["dates"].str.split("-").str
print(df.head())

   alpha beta  delta new_col       dates  year month day
0      0    a      9       a  2020-03-01  2020    03  01
1      1    b      8       b  2020-01-18  2020    01  18
2      2    c      2       c  2020-05-01  2020    05  01
3      3    d      4     NaN  2020-06-18  2020    06  18
4      4    e      0     NaN  2020-04-12  2020    04  12

## Task 6a: Concatenation by Rows
+ Create the following dataframe
```Python
df1 = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta': ['a', 'b', 'c', 'd', 'e']}, index = ['I1', 'I2' ,'I3', 'I4', 'I5'])
```
+ Create a new dataframe named `df2` with column names "delta" and "gamma" that contins 5 rows with some index names that overlap with the `df1` dataframe and some that do not.
+ Concatenate the two dataframes by rows and print the result.
+ You should see the two have combined one after the other, but there should also be missing values added. 
+ Explain why there are missing values.

In [8]:
df1 = pd.DataFrame(
  {'alpha': [0, 1, 2, 3, 4],
   'beta': ['a', 'b', 'c', 'd', 'e']}, index = ['I1', 'I2' ,'I3', 'I4', 'I5'])

df2 = pd.DataFrame(
    {'delta': [5, 6, 7, 8, 9],
     'gamma': ['f', 'g', 'h', 'i', 'j']},
    index = ['I1', 'I2' ,'I3', 'I6', 'I7'])

print(df1)
print(df2)

dfs = [df1, df2]

print(pd.concat(dfs))

# There are missing values added because the
# dataframes don't have matching data by row
# index. NaNs exist where each dataframe does
# not match up with the other.

    alpha beta
I1      0    a
I2      1    b
I3      2    c
I4      3    d
I5      4    e
    delta gamma
I1      5     f
I2      6     g
I3      7     h
I6      8     i
I7      9     j
    alpha beta  delta gamma
I1    0.0    a    NaN   NaN
I2    1.0    b    NaN   NaN
I3    2.0    c    NaN   NaN
I4    3.0    d    NaN   NaN
I5    4.0    e    NaN   NaN
I1    NaN  NaN    5.0     f
I2    NaN  NaN    6.0     g
I3    NaN  NaN    7.0     h
I6    NaN  NaN    8.0     i
I7    NaN  NaN    9.0     j

C:\Users\matthew.brousil\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  from ipykernel import kernelapp as app

## Task 6b: Concatenation by Columns

Using the same dataframes, df1 and df2, from Task 6a practice:
+ Concatenate the two by columns
+ Add a "delta" column to `df1` and concatenate by columns such that there are 5 columns in the merged dataframe.
+ Respond in writing to this question (add a new 'raw' cell to contain your answer). What will happen if using you had performed an inner join while concatenating?  
+ Try the concatenation with the inner join to see if you are correct.

In [9]:
print(pd.concat(dfs, axis = 1))

df1["delta2"] = [16, 17, 18, 19, 20]
dfs = [df1, df2]

print(pd.concat(dfs, axis = 1))

    alpha beta  delta gamma
I1    0.0    a    5.0     f
I2    1.0    b    6.0     g
I3    2.0    c    7.0     h
I4    3.0    d    NaN   NaN
I5    4.0    e    NaN   NaN
I6    NaN  NaN    8.0     i
I7    NaN  NaN    9.0     j
    alpha beta  delta2  delta gamma
I1    0.0    a    16.0    5.0     f
I2    1.0    b    17.0    6.0     g
I3    2.0    c    18.0    7.0     h
I4    3.0    d    19.0    NaN   NaN
I5    4.0    e    20.0    NaN   NaN
I6    NaN  NaN     NaN    8.0     i
I7    NaN  NaN     NaN    9.0     j

C:\Users\matthew.brousil\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.
C:\Users\matthew.brousil\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys

I think using an inner join would have removed rows that didn't have all of the data.

In [11]:
print(pd.concat(dfs, axis = 1, join = "inner"))

    alpha beta  delta2  delta gamma
I1      0    a      16      5     f
I2      1    b      17      6     g
I3      2    c      18      7     h

#### Task 6c: Concat and append data frames
<span style="float:right; margin-left:10px; clear:both;">![Task](./media/task-icon.png)</span>

+ Create a new 5x5 dataframe full of random numbers.
+ Create a new 5x10 dataframe full of 1's.
+ Append one to the other and print it.
+ Append a single Series of zeros to the end of the appended dataframe.

In [22]:
one_df = pd.DataFrame(np.random.random((5, 5)))
another_df = pd.DataFrame(np.ones((5, 10)))

comb_df = another_df.append(one_df, ignore_index = True)
comb_df.shape

comb_df.append(pd.Series(np.zeros(10)), ignore_index = True)

           0         1         2         3         4    5    6    7    8    9
0   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
1   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
2   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
3   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
4   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
5   0.733208  0.136872  0.290517  0.294996  0.511011  NaN  NaN  NaN  NaN  NaN
6   0.581078  0.761322  0.318288  0.773207  0.805556  NaN  NaN  NaN  NaN  NaN
7   0.088208  0.010217  0.334588  0.706148  0.363838  NaN  NaN  NaN  NaN  NaN
8   0.494003  0.906501  0.645927  0.778219  0.904691  NaN  NaN  NaN  NaN  NaN
9   0.391049  0.282525  0.861705  0.203662  0.686392  NaN  NaN  NaN  NaN  NaN
10  0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0

## Task 6d: Grouping

Demonstrate a `groupby`.

+ Create a new column with the label "region" in the iris data frame. This column will indicates geographic regions of the US where measurments were taken. Values should include:  'Southeast', 'Northeast', 'Midwest', 'Southwest', 'Northwest'. Use these randomly.
+ Use `groupby` to get a new data frame of means for each species in each region.
+ Add a `dev_stage` column by randomly selecting from the values "early" and "late".
+ Use `groupby` to get a new data frame of means for each species,in each region and each development stage.
+ Use the `count` function (just like you used the `mean` function) to identify how many rows in the table belong to each combination of species + region + developmental stage.

In [36]:
iris_df["region"] = np.random.choice(['Southeast', 'Northeast', 'Midwest', 'Southwest', 'Northwest'], iris_df.shape[0])
iris_df.head()

print(iris_df.groupby(["species", "region"]).mean()) 

iris_df["dev_stage"] = np.random.choice(["early", "late"], iris_df.shape[0])
iris_df.head()
print(iris_df.groupby(["species", "region", "dev_stage"]).mean()) 
print(iris_df.groupby(["species", "region", "dev_stage"]).count())

                      sepal_length  sepal_width  petal_length  petal_width
species    region
setosa     Midwest        4.860000     3.370000      1.390000     0.230000
           Northeast      5.112500     3.525000      1.487500     0.237500
           Northwest      5.010000     3.470000      1.390000     0.190000
           Southeast      5.036364     3.381818      1.490909     0.254545
           Southwest      5.027273     3.372727      1.554545     0.300000
versicolor Midwest        6.021429     2.742857      4.335714     1.342857
           Northeast      5.888889     2.777778      4.200000     1.277778
           Northwest      5.833333     2.855556      4.277778     1.422222
           Southeast      6.066667     2.850000      4.466667     1.433333
           Southwest      5.883333     2.691667      4.100000     1.216667
virginica  Midwest        6.812500     3.112500      5.637500     1.987500
           Northeast      6.875000     3.012500      5.837500     2.262500
           Northwest      6.614286     3.042857      5.585714     2.042857
           Southeast      6.425000     2.833333      5.425000     1.908333
           Southwest      6.433333     2.960000      5.440000     2.006667
                                sepal_length  sepal_width  petal_length  \
species    region    dev_stage
setosa     Midwest   early          4.933333     3.400000      1.433333
                     late           4.750000     3.325000      1.325000
           Northeast early          5.100000     3.375000      1.425000
                     late           5.125000     3.675000      1.550000
           Northwest early          4.960000     3.440000      1.320000
                     late           5.060000     3.500000      1.460000
           Southeast early          5.000000     3.433333      1.666667
                     late           5.050000     3.362500      1.425000
           Southwest early          4.928571     3.357143      1.500000
                     late           5.200000     3.400000      1.650000
versicolor Midwest   early          5.737500     2.675000      4.050000
                     late           6.400000     2.833333      4.716667
           Northeast early          6.375000     2.925000      4.425000
                     late           5.500000     2.660000      4.020000
           Northwest early          5.700000     2.825000      4.125000
                     late           5.940000     2.880000      4.400000
           Southeast early          6.325000     2.975000      4.700000
                     late           5.550000     2.600000      4.000000
           Southwest early          6.080000     2.700000      4.220000
                     late           5.742857     2.685714      4.014286
virginica  Midwest   early          6.766667     2.800000      5.700000
                     late           6.840000     3.300000      5.600000
           Northeast early          6.966667     2.866667      6.133333
                     late           6.820000     3.100000      5.660000
           Northwest early          6.400000     2.600000      5.250000
                     late           6.700000     3.220000      5.720000
           Southeast early          5.920000     2.680000      5.060000
                     late           6.785714     2.942857      5.685714
           Southwest early          6.510000     2.970000      5.500000
                     late           6.280000     2.940000      5.320000

                                petal_width
species    region    dev_stage
setosa     Midwest   early         0.233333
                     late          0.225000
           Northeast early         0.225000
                     late          0.250000
           Northwest early         0.200000
                     late          0.180000
           Southeast early         0.233333
                     late          0.262500
           Southwest early         0.242857
                     late          0.400000
versicolor Midwest   early         1.237500
                     late          1.483333
           Northeast early         1.300000
                     late          1.260000
           Northwest early         1.350000
                     late          1.480000
           Southeast early         1.550000
                     late          1.200000
           Southwest early         1.220000
                     late          1.214286
virginica  Midwest   early         1.966667
                     late          2.000000
           Northeast early         2.266667
                     late          2.260000
           Northwest early         1.800000
                     late          2.140000
           Southeast early         1.960000
                     late          1.871429
           Southwest early         1.960000
                     late          2.100000
                                sepal_length  sepal_width  petal_length  \
species    region    dev_stage
setosa     Midwest   early                 6            6             6
                     late                  4            4             4
           Northeast early                 4            4             4
                     late                  4            4             4
           Northwest early                 5            5             5
                     late                  5            5             5
           Southeast early                 3            3             3
                     late                  8            8             8
           Southwest early                 7            7             7
                     late                  4            4             4
versicolor Midwest   early                 8            8             8
                     late                  6            6             6
           Northeast early                 4            4             4
                     late                  5            5             5
           Northwest early                 4            4             4
                     late                  5            5             5
           Southeast early                 4            4             4
                     late                  2            2             2
           Southwest early                 5            5             5
                     late                  7            7             7
virginica  Midwest   early                 3            3             3
                     late                  5            5             5
           Northeast early                 3            3             3
                     late                  5            5             5
           Northwest early                 2            2             2
                     late                  5            5             5
           Southeast early                 5            5             5
                     late                  7            7             7
           Southwest early                10           10            10
                     late                  5            5             5

                                petal_width
species    region    dev_stage
setosa     Midwest   early                6
                     late                 4
           Northeast early                4
                     late                 4
           Northwest early                5
                     late                 5
           Southeast early                3
                     late                 8
           Southwest early                7
                     late                 4
versicolor Midwest   early                8
                     late                 6
           Northeast early                4
                     late                 5
           Northwest early                4
                     late                 5
           Southeast early                4
                     late                 2
           Southwest early                5
                     late                 7
virginica  Midwest   early                3
                     late                 5
           Northeast early                3
                     late                 5
           Northwest early                2
                     late                 5
           Southeast early                5
                     late                 7
           Southwest early               10
                     late                 5